src/main/webapp/wsdl/helloworld_schema1.xsd

<xs:schema xmlns:tns="http://helloWorld.negocio.TFG_server.eduardosergio.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://helloWorld.negocio.TFG_server.eduardosergio.com/" version="1.0">

  <xs:element name="salute" type="tns:salute"/>

  <xs:element name="saluteResponse" type="tns:saluteResponse"/>

  <xs:complexType name="salute">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saluteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
