src/main/webapp/wsdl/holamundo_schema1.xsd

<xs:schema xmlns:tns="http://holaMundo.negocio.TFG_server.eduardosergio.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://holaMundo.negocio.TFG_server.eduardosergio.com/" version="1.0">

  <xs:element name="saludar" type="tns:saludar"/>

  <xs:element name="saludarResponse" type="tns:saludarResponse"/>

  <xs:complexType name="saludar">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saludarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
